@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Caveat:wght@600&family=Gruppo&family=Kaushan+Script&family=Passion+One&family=Russo+One&family=Staatliches&display=swap');
@import url('https://fonts.cdnfonts.com/css/game-of-squids');
@import url('https://ufonts.com/fonts/semi-coder-regular.html');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/*
  font-family: "Bebas Neue", sans-serif;
  font-family: "Game Of Squids";
  font-family: "Semi-Coder";
  font-family: "NovaMono";
  font-family: "Source Code Pro Monospace";
*/