<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/wwa.css">
    <link rel="stylesheet" href="/assets/fonts/font.css">
    <link rel="stylesheet" href="/assets/media/mediawwa.css">
    <a href="https://icons8.com/icon/62033/planète-mars"></a><a href="https://icons8.com"></a>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title> Qui Sommes-Nous ? NetWEB</title>
</head>
<header>


  
<!--Nav Bar-->
<nav id="nav"> 
  <a href="/index.html"> 
    <h1>NetWEB</h1> 
  </a>
<ul id="ul">
    <li id="li"><a class="a" href="/index.html">Accueil</a></li>
    <li id="li"><a class="a" id="on" href="/views/wwa.html">Qui Sommes-Nous ?</a></li>
    <li id="li"><a class="a" href="/views/contact.php">Contact</a></li>
    <li id="li"><a class="a" href="https://anydesk.com/fr/downloads/mac-os">Support</a></li>
</ul>
<div id="burger"></div>
</nav>
<!--End Of Nav Bar-->



<!--Header-->
<div class="container-logs"> 
 
  <div data-aos="zoom-in-right" id="BG1">
  <img src="/assets/img/WWABG1.jpg" height="500" width="800">
  </div>
  
  <div data-aos="zoom-in-left" id="question"> 
      <h2 id="first-title">Qui Sommes-Nous</h2>
      <img id="qst-icon" src="/assets/icons/question-svgrepo-com.svg" height="250" width="250">
  </div>
  
  </div>
  
</header>
<!--End Of Header-->



<!--Body-->
<body> 
  


<!--First&Second-Container-->  
<div data-aos="zoom-in" class="first-container"> 
    <h2 id="second-title">NetWEB c'est quoi ?</h2>
    <br>
    NetWEB a été fondée sur une observation claire en 2024, il était crucial de répondre aux besoins croissants des artisans, des TPE et des PME avec une offre professionnelle et bien structurée en matière de système d'information.
    <br>
    <br>
    Chez NetWEB, nous sommes déterminés à vous guider dans la gestion de votre système informatique. Notre objectif est de proposer des solutions complètes et flexibles répondant à vos besoins, et d'aspirer à devenir votre partenaire privilégié pour accompagner vos évolutions. Nous nous engageons à ce que vos ressources informatiques suivent le rythme de vos projets. Notre succès actuel repose sur une recherche incessante de nouvelles technologies et de méthodes de travail innovantes, ce qui constituera également la clé de notre réussite future.
</div>  
      


<div data-aos="fade-right" class="second-container"> 
    <h2 id="third-title" data-aos="fade-right">L'Équipe NetWEB</h2>
    <br>
     L'équipe de NetWEB se distingue par son professionnalisme remarquable, son écoute attentive et sa flexibilité exceptionnelle pour vous garantir entière satisfaction.      
</div>
<!--End Of First&Second-Container-->  



<!--Dev&Hack-Container-->
<div class="grid-dev-hack">
      
<div data-aos="fade-right" id="grid-dev">
      <h3>Seijuuro Shin</h3>
      <img class="dev-img" src="/assets/img/WWABG2.svg" height="250" width="250">
      <p id="rp">Développeur Web</p>

   <div id="icons-sm">
      <a href="#"> <img id="in" src="/assets/icons/sm icons/linkedin-svgrepo-com.svg" height="50" width="50"> </a>
      <a href="https://github.com/SeijuuroShin6"> <img id="git" src="/assets/icons/sm icons/github-svgrepo-com.svg" height="50" width="50">  </a>
   </div>
</div>
   
      
<div data-aos="fade-left" id="grid-hack">
      <h3>Ayoub Pouillet</h3>
      <img class="dev-img" src="/assets/img/WWABG3.svg" height="250" width="250">
      <p class="ap" id="content">Technicien réseau informatique</p>

   <div id="icons-sm">
      <a href="#"> <img id="in" src="/assets/icons/sm icons/linkedin-svgrepo-com.svg" height="50" width="50"> </a>
      <a href="#"> <img id="git" src="/assets/icons/sm icons/github-svgrepo-com.svg" height="50" width="50">  </a>
   </div>
</div>      


</div>
<!--End Of Dev&Hack-Container-->



<!--Third Container-->
<div data-aos="zoom-in-up" class="third-container">
<h2 id="fourth-title">Préparons votre vision !</h2>
<br>
Chez NetWEB, nous sommes conscients que chaque projet est unique et demande une approche personnalisée. Grâce à notre expertise, nous sommes fiers de fournir un accompagnement sur mesure afin d'assurer le succès de vos initiatives.

</div>
<!--End Of Third Container-->



<!--Maps-->
<div id="maps"> 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.795516693145!2d103.78826727447208!3d1.2973778617432927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1b25dd8c2d05%3A0xb537311169cedf5b!2sRazerStore%20Singapore!5e0!3m2!1sfr!2sfr!4v1710554567341!5m2!1sfr!2sfr" width="800" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!--End Of Maps-->


<script src="/assets/js/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<!--End Of Body-->



<!--Footer-->
<footer>


<div id="nav-footer"> 
  
  <ul id="footer">
    <h4> Nos Services</h4>
  
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/vector-svgrepo-com.svg" height="20" width="20"> <a id="footer-link" href="#adsr-mpi">Administration de systèmes et réseaux informatiques</a> </li>
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/cloud-computing-computer-svgrepo-com.svg" height="20" width="20"> <a id="footer-link" href="#adsr-mpi">Maintenance de parcs informatiques</a> </li>
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/sitemap-svgrepo-com.svg" height="20" width="20"> <a id="footer-link" href="#fsi-dea">Fourniture de solutions informatiques</a> </li>
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/networking-connector-svgrepo-com.svg" height="20" width="20"> <a id="footer-link" href="#fsi-dea">Dépannage et assistance</a> </li>
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/coding-svgrepo-com.svg" height="20" width="20"> <a id="footer-link" href="#cdsi">Création de site internet</a> </li>
  
  </ul>
  
  
  <div id="contact">
  
  <ul id="footer">   
    <h4>Contactez-nous</h4>
  
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/location-pin-alt-svgrepo-com.svg" height="20" width="20"> 1 One-north Cres</li>
    <li id="footer-list"> <img id="footer-icons" src="/assets/icons/map-svgrepo-com.svg" height="20" width="20"> 138538 SINGAPORE</li>
    <li id="footer-list"> <a id="footer-link-phone" href="tel:0940139921"> <img id="footer-icons-phone" src="/assets/icons/phone-svgrepo-com.svg" height="20" width="20"></a> 09 40 13 99 21</li>
    <li id="footer-list"> <a id="footer-link-phone" href="mailto:0940139921"> <img id="footer-icons-phone" src="/assets/icons/mail-arrow-up-svgrepo-com.svg" height="20" width="20"></a> netweb@gmail.com</li>
  </ul>
  
  </div>
  
  
  <div id="social-media">
    <h4>Réseaux Sociaux</h4>
   
    <div class="sm">
        <a id="footer-link" href="#"> <img id="footer-icons" src="/assets/icons/sm icons/facebook-svgrepo-com.svg" height="40" width="40"> </a>
        <a id="footer-link" href="#"> <img id="footer-icons" src="/assets/icons/sm icons/twitter-154-svgrepo-com.svg" height="40" width="40"> </a>
        <a id="footer-link" href="#"> <img id="footer-icons" src="/assets/icons/sm icons/linkedin-svgrepo-com.svg" height="40" width="40"> </a>
    </div>
  
  </div>
  
  
  
  </div>
  
  
  <div id="copyright-ml">
  
   <div id="copyright">  
     <p class="copyright-ml">© 2024 Property Of NetWEB - All Rights Reserved</p>
   </div>
  
     <div id="m"> 
       <p class="copyright-m">Legal Terms</p>
       <p class="copyright-m">Privacy Policy</p>
       <p class="copyright-m">Cookies Settings</p>
     </div>
  
  
  </div>
  
</footer>
<!--End Of Footer-->
</html>