/*Huge Screen*/
@media screen and (min-width: 1442px) and (max-width: 2560px) {
/*Nav Bar*/
#ul {
  margin-left: 30em;
}
/*End Of Nav Bar*/



/*Header*/
.container-logs {
  display: inline-flex;
}

#slogan {
  display: block;
  width: 100%;
}

#NetWEB {
  width: 100%;
  font-size: 5em;   
  margin-top: 1.7em;
}

.slogan {
  padding-top: .6em;
}

#trust {
  display: block;
  padding-top: 4em;
}

#trust-title {
  width: 130%;
  font-size: 1.7em; 
  text-align: center;
  padding-right: 13em;
}

#trust-pics {
  display: block;
  gap: 2em; 
  margin-right: 4em; 
}

#first-row-pics {
  display: flex;
  gap: 2em;
  text-align: center;
  justify-content: center;
}

#first-row-pic {
  height: 50px;
  width: 250px;
}

#second-row-pics {
  display: flex;
  margin-top: 2em;
  gap: 2em;
}

#second-row-pic {
  height: 120px;
  width: 250px;
}
/*End Of Header*/



/*Body*/
#mtn {
  margin-top: 3.5em;
}

#depa {
  margin-top: -1.6em;
}
/*End Of Body*/



/*Footer*/
#contact {
  padding-left: 10em;
}

#social-media {
  padding-left: 20em;
}
/*End Of Footer*/
}
/*End Of Huge Screen*/



/*Laptops*/
@media screen and (min-width: 1149px) and (max-width: 1440px) {
/*Menu*/
#burger {
  display: none;
}
}
/*End Of Laptops*/



/*Phone*/
@media screen and (min-width: 320px) and (max-width: 853px) {
/*Nav Bar*/
h1 {
  font-size: 1.3em;
  width: 140%;
}
#burger {
  padding-left: 6em;
  font-size: 2em;
  color: white;
}

#burger:before {
  content: "\2632";
  cursor: pointer;
}

.active #burger:before {
  content: "\2715";
  cursor: pointer;
}

#nav #ul {
  position: fixed;
  left: -100%;
  top: 11%;
  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  transition: 0.25s;
  height: 30%;
  padding-top: 3em;
}

#ul {
  padding-left: 0em;
}

#nav.active #ul {
  left: 0;
}
/*End Of Nav Bar*/



/*Header*/
.container-logs {
  display: inline-block;
  width: 100%;
}

#BG1 {
  border-radius:0;
  width: 100%;
  margin-top: 5em;
}

#slogan {
  margin-right: 3em;
  margin-left: 3em;
  width: 100%;
}

#title-slogan {
  margin-bottom: 1.3em;
  margin-top: -20em;
}

.slogan {
  padding-top: .4em;
  font-size: 1.4em;
}

#trust {
  margin-top: 1em;
}

#trust-title {
  margin-left: -.4em;
}

#first-row-pics, #second-row-pics {
  display: block;
  padding-right: .6em;
}

.vm {
  margin-top: -12.5em;
}

.fortinet {
  margin-top: 1em;
  height: 50px;
  width: 40%;
}
/*End Of Header*/



/*Body*/
h2 {
  text-align: center;
  margin-top: 5em;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 1.1em;
}

.first-container, .second-container {
  width: 100%;
  display: block;
  margin-left: 0em;
  margin-right: 0em;
}

.grid {
  height: 72em;
  margin-top: 6em;
}

#one, #two, #three, #four, #five {
  height: 20em;
  overflow-y: hidden;
}

#illustration {
  float: left;
}

h3 {
  width: 100%;
  font-size: 2.1em;
  padding-top: .4em;
}

#depa {
  margin-top: -2em;
}

.third-container {
  height: 72em;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}
/*End Of Body*/



#maps {
  margin-top: 15em;
  margin-bottom: 20em;
}



/*Footer*/
footer {
  height: 75em;
}

#nav-footer {
  display: block;
}

#footer {
  margin-left: -3em;
}

#social-media {
  display: block;
  width: 100%;
  margin-left: -6em;
}

.sm {
  margin-left: -3em;
}

#copyright-ml {
  display: block;
  width: 100%;
  padding-left: 0em;
  padding-right: 0em;
}

#copyright {
  text-align: center;  
  font-size: 1em;
  width: 100%;
  margin-left: 0em;
  padding-bottom: 1em;
}

#m {
  display: flex;
  margin-left: 3.5em;
}
 
.copyright-m {
  font-size: .8em;
  padding-left: .6em;
  padding-right: .6em;
}
/*End Of Footer*/
}
/*End Of Phone*/